{% extends "the_app/no-footer-base.html" %} {% block content %}

<header>
    <h1>Find <u>National</u> Developer Jobs</h1>
    <p>Login to save your progress.</p>
    <button style="height:50px; background-color:#fff;"><a style="color:#1c243c; text-decoration:none;" href="{% url 'dashboard' %}">See All Jobs</a></button>
</header>


{% for message in messages %}
    <div class="alert alert-info text-center" role="alert">
        {{message}}
    </div>
{% endfor %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username *" required />
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password *" required />
        </div>

        <div class="form-group">
            <input type="submit" class="btn-outline-primary w-100" value="LOGIN" />
        </div>

    </form>

    <p class="text-center mb-5 mt-3">
    Not a member yet? <a href="{% url 'signup' %}">SIGN UP</a>
    </p>



   {% endblock content %}
